body {
    background-color: #18292eff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-decoration-color: white;
    text-emphasis-color: white;
    color: white;
}

.centralizado {
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
}

.container {
  display: flex; /* Ativa o flexbox */
  align-items: flex-start; /* Alinha o topo das duas colunas */
  gap: 20px; /* Espaço entre colunas */
}

.shadow-box {
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  color: white;
  text-decoration: none;
  width: 200px;
  height: 100px;
  background-color: linear-gradient(180deg, rgb(56, 52, 52), #18292eff);
  margin: 50px;
  border: 2px solid #1f2e33;
  border-radius: 10px;
  /* h-offset | v-offset | blur | spread | color */
  box-shadow: 2px 2px 10px 5px #000000;
}

.voltar {
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  color: white;
  text-decoration: none;
  width: 100px;
  height: 50px;
  background-color: linear-gradient(180deg, rgb(56, 52, 52), #18292eff);
  margin: 50px;
  border: 2px solid #1f2e33;
  border-radius: 10px;
  /* h-offset | v-offset | blur | spread | color */
  box-shadow: 2px 2px 10px 5px #000000;
}