body {
    background-color: #18292eff;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-decoration-color: white;
    text-emphasis-color: white;
    color: white;
}

.centralizado {
    display: flex;
    justify-content: center; /* Horizontal */
}

.shadow-box {
    width: 200px;
    height: 100px;
    background-color: linear-gradient(180deg, #ffffffff, #18292eff);
    margin: 50px;
    border: 2px solid #1f2e33;
    border-radius: 10px;
    /* h-offset | v-offset | blur | spread | color */
    box-shadow: 2px 2px 10px 5px #000000;
}

.container {
  display: flex; /* Ativa o flexbox */
  align-items: flex-start; /* Alinha o topo das duas colunas */
  gap: 20px; /* Espaço entre colunas */
}
.coluna-imagem img {
  max-width: 100%; /* A imagem não passa da largura da coluna */
  height: auto; /* Mantém a proporção */
  display: block;
}
.coluna-completa-espaco {
  flex: 1; /* Faz a segunda coluna ocupar o espaço restante */
}